{% extends 'base.html' %}
{% load static %}
{% block title %}Misson Education{% endblock title %}
{% block body %}
<section>
    <div class="w-100 pt-80 pb-70 opc65 position-relative">
        <div class="fixed-bg" style="background-image: url(../static/assets/images/bottomimg.png);"></div>
        <div class="container">
            <div class="page-title-wrap text-center w-100">
                <div class="page-title-inner d-inline-block">
                    <h1 class="mb-0">Mission Education</h1>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}" title="Home">Home</a></li>
                        
                        <li class="breadcrumb-item active">Detail</li>
                    </ol>
                </div>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-120 pb-250 position-relative">
        <img class="sec-botm-rgt-mckp img-fluid position-absolute" src="{% static 'assets/images/landmark.png' %}" alt="Sec Bottom Mockup">
        <div class="container">
            <div class="services-detail-wrap w-100">
                <div class="services-detail-info-wrap w-100">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-lg-6 order-md-1">
                            <div class="service-detail-img position-relative w-100">
                                <img class="img-fluid w-100" src="{% static 'assets/images/mission.png' %}" alt="Service Detail Image">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="services-detail-info w-100">
                                
                                <h2 class="mb-0">Mission Education</h2>
                                <span class="d-block">Donate Books and Stationery</span>
                                <ul class="services-info-list mb-0 list-unstyled">
                                <p style="text-align:justify;" class="mt-3">We support the education of underprivileged students across the world. It was started by Shradhey Ji and Suyesh Ji, the sons of Spiritual Master Shri Satpal Ji Maharaj in 2014. It has been observed that majority of students dropout even from free schooling facility primarily on account of their parent’s inability/reluctance to afford the recurring expenditure of books and stationery.</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-detail-desc w-100">
                    <h2 class="mb-0 thm-clr">Mission Education is a project to provide educational opportunities to disadvantaged children</h2>
                    <p class="mb-0">The fundamental principle behind it is that those who have, share with those who don’t. Children who have resources are asked to share with other students who lack them. They are asked, “If you have an extra pen, or a book or exercise book, if you have anything you don’t use anymore, please donate that.” When students are promoted to a new class, they buy new books and throw away the old ones, with no thought as to how many trees are cut down, or the damage caused to the environment.</p>
                    <p class="mb-0">It all started with a young Nepalese man, who, along with a couple of friends, visited five or six schools in Kathmandu and got Mission Education boxes installed there. He talked to the schoolchildren himself and encouraged them to donate any spare stationery or books they had. Then he went to impoverished areas where children still used slates and chalk. Some of the villages were so remote that the friends had to walk for hours carrying the donated items on their shoulders.</p>
                    <p class="mb-0">That single idea has traveled from Nepal and in just 10 months has placed 840 drop-boxes all over India. Not a single penny has changed hands and money at all is put in those boxes. A simple idea is driving Mission Education not only in Nepal but in India, Kenya and South Africa.</p>
                    <p class="mb-0">‘If you set up a medical camp, you need money to buy the medicines. But the simplicity of Mission Education is that it doesn’t ask for money. We say to schoolchildren, ‘You are studying in good schools. Your parents provide more than you can use in a single year. You have enough pencils to last you for 10 years. But just think about this: there are schoolboys and schoolgirls in parts of India who don’t own a single pencil, so can’t you give them one of yours?’ And that sharing attitude is what drives Mission Education. The best thing about it is that school children empathize with those who don’t possess even a pencil to write with and want to share with them.”</p>
                </div>
            </div><!-- Services Detail Wrap -->
        </div>
    </div>
</section>
{% endblock body %}