{% load static %}
<footer id="footer">
    <div class="w-100 pt-100 dark-layer pb-50 opc85 position-relative">
        <div class="fixed-bg patern-bg back-blend-multiply"></div>
        <div class="container">
            <div class="footer-data w-100">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-3">
                        <div class="widget w-100">
                            <div class="logo"><h1 class="mb-0"><a href="index.html" title="Home"><img class="img-fluid" src="{% static 'assets/images/logos.png' %}" alt="Logo" srcset="{% static 'assets/images/logos.png' %}"></a></h1></div>
                            <p class="mb-0">Wise are those who never
                                fight over symbols but
                                understand the essence of all
                                religions which are one and
                                the same for everyone.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-9">
                        <div class="row justify-content-between">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="widget w-100">
                                            <h4 class="widget-title">Information</h4>
                                            <ul class="mb-0 list-unstyled w-100">
                                                <li><a href="{% url 'blog' %}" title="">Blog</a></li>
                                                <li><a href="{% url 'audio' %}" title="">Audio Listening</a></li>
                                                <li><a href="{% url 'video' %}" title="">Video Satsang</a></li>
                                                <li><a href="{% url 'gallery' %}" title="">Gallery</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="widget w-100">
                                            <h4 class="widget-title">Contact Info</h4>
                                            <ul class="cont-info-list2 mb-0 list-unstyled w-100">
                                                <li><i class="thm-clr">P:</i>9779869217491</li>
                                                <li><i class="thm-clr">E:</i><a href="javascript:void(0);" title="">info@manavdharma.org.np</a></li>
                                                <li>Hans Ashram, Gausala, Kathmandu, Nepal</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 col-lg-5">
                                <h4 class="widget-title">Let Us Help You</h4>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="widget w-100">
                                            <ul class="mb-0 list-unstyled w-100">
                                                <li><a href="{% url 'about' %}" title="">About Us</a></li>
                                                
                                                <li><a href="{% url 'contact' %}" title="">Our Location</a></li>
                                                <li><a href="{% url 'contact' %}" title="">Write to us</a></li>
                                                <li><a href="{% url 'community' %}" title="">Community</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="widget w-100">
                                            <ul class="mb-0 list-unstyled w-100">
                                                <li><a href="{% url 'misson' %}" title="">Education</a></li>
                                                <li><a href="{% url 'humanitarian' %}" title="">Humanitarian</a></li>
                                                <li><a href="{% url 'contact' %}" title="">Contact Us</a></li>
                                                <li><a href="{% url 'children' %}" title="">Welfare</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Footer Data -->
        </div>
    </div>
</footer><!-- Footer -->
<div class="bottom-bar dark-bg2 text-center w-100">
    <p class="mb-0"><a href="index.html" title="Home">Manav Dharma</a> - Copyright 2022.</p>
</div><!-- Bottom Bar -->
</main><!-- Main Wrapper -->

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/counterup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'assets/js/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!-- <script src="assets/js/particles.min.js"></script>
<script src="assets/js/particle-int.js"></script> -->
<script src="{% static 'assets/js/musicplayer-min.js' %}"></script>
<script src="{% static 'assets/js/custom-scripts.js' %}"></script>
<script src="https://apis.google.com/js/platform.js"></script>
</body>	
</html>