
{% load static %}
<!--<div id="preloader">            
    <div class="preloader-inner">
        <i class="preloader-icon thm-clr flaticon-kaaba"></i>
    </div>
</div> --> 
<header class="stick style1 w-100 mb-5">
    <div class="topbar d-flex flex-wrap justify-content-center w-100" style="background:#24438c">
        
        <div class="social-links d-inline-flex" style="color:white;">
            <a href="https://twitter.com/manavdharma_np" title="Twtiiter" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/nepalmanavdharma" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/c/ManavDharma" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/nepalmanavdharma/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div><!-- Topbar -->
<!-- Logo Menu Wrap -->
</header><!-- Header -->
<div class="sticky-menu">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
            <div class="logo"><h1 class="mb-0"><a href="{% url 'home' %}" title="Home">
                <img class="img-fluid" src="{% static 'assets/images/logos.png' %}" alt="Logo" srcset="{% static 'assets/images/logos.png' %}"></a></h1></div><!-- Logo -->
            <nav class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="header-left">
                    <ul class="mb-0 list-unstyled d-inline-flex">
                        <li><a href="{% url 'home' %}" title="">Home</a>
                            
                        </li>
                        <li><a href="{% url 'blog' %}" title="">Blog</a>
                            
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Events</a>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="{% url 'humanitarian' %}" title="">Humanitarian</a>
                                    
                                </li>
                                <li><a href="{% url 'misson' %}" title="">Mission Education</a>
                                    
                                </li>
                                <li><a href="{% url 'children' %}" title="">Children Welfare</a>
                                    
                                </li>
                                <li><a href="{% url 'satsangs' %}" title="">Live Satsangs</a>
                                    
                                </li>
                                <li><a href="{% url 'community' %}" title="">Community Services</a>
                
                                </li>
                                
                                <li><a href="{% url 'gallery' %}" title="">Gallery</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'video' %}" title="">Video Satsang</a></li>
                        <li><a href="{% url 'audio' %}" title="">Audio</a></li>
                        <li><a href="{% url 'about' %}" title="">About Us</a></li>
                        <li><a href="{% url 'contact' %}" title="">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Sticky Menu -->
<div class="rspn-hdr">
    <div class="rspn-mdbr">
        <div class="rspn-scil">
            <a href="https://twitter.com/manavdharma_np" title="Twtiiter" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/nepalmanavdharma" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/c/ManavDharma" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/nepalmanavdharma/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        
    </div>
    <div class="lg-mn">
        <div class="logo"><a href="index.html" title="Home"><img src="{% static 'assets/images/logos.png' %}" alt="Logo"></a></div>
        <div class="rspn-cnt">
            <span><i class="thm-clr far fa-envelope"></i><a href="javascript:void(0);" title="">info@youremailid.com</a></span>
            <span><i class="thm-clr fas fa-phone-alt"></i>+96 125 554 24 5</span>
        </div>
        <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
    </div>
    <div class="rsnp-mnu">
        <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
        <ul class="mb-0 list-unstyled w-100">
            <li><a href="{% url 'home' %}" title="">Home</a>
                            
            </li>
            <li><a href="{% url 'blog' %}" title="">Blog</a>
                
            </li>
            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Events</a>
                <ul class="mb-0 list-unstyled">
                    <li><a href="{% url 'humanitarian' %}" title="">Humanitarian</a>
                        
                    </li>
                    <li><a href="{% url 'misson' %}" title="">Mission Education</a>
                        
                    </li>
                    <li><a href="{% url 'children' %}" title="">Children Welfare</a>
                        
                    </li>
                    <li><a href="{% url 'satsangs' %}" title="">Live Satsangs</a>
                        
                    </li>
                    <li><a href="{% url 'community' %}" title="">Community Services</a>
    
                    </li>
                    
                    <li><a href="{% url 'gallery' %}" title="">Gallery</a></li>
                </ul>
            </li>
            <li><a href="{% url 'video' %}" title="">Video Satsang</a></li>
            <li><a href="{% url 'audio' %}" title="">Audio</a></li>
            <li><a href="{% url 'about' %}" title="">About Us</a></li>
            <li><a href="{% url 'contact' %}" title="">Contact Us</a></li>
        </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->
