{% extends 'base.html' %}
{% load static %}
{% block title %}Bhajans{% endblock title %}
{% block body %}
<section>
    <div class="w-100 pt-80 pb-70 opc65 position-relative">
        <div class="fixed-bg" style="background-image: url({% static 'assets/images/bottomimg.png' %});"></div>
        <div class="container">
            <div class="page-title-wrap text-center w-100">
                <div class="page-title-inner d-inline-block">
                    <h1 class="mb-0">Listen To Bhajans</h1>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}" title="Home">Home</a></li>
                        <li class="breadcrumb-item active">Bhajans</li>
                    </ol>
                </div>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="w-100 pt-120 pb-250 position-relative">
        <img class="sec-botm-rgt-mckp img-fluid position-absolute" src="{% static 'assets/images/landmark.png' %}" alt="Sec Bottom Mockup">
        <div class="container">
            <div class="plyr-wrp2 d-inline-block w-100">
                {% for i in bhajans %}
               
                <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url({% static 'assets/images/pattern.jpg' %})">
                    <h4 class="text-center" id="box-play">{{i.name}}</h4>
                    <div class="plyr v4 w-100">
                        
                        <ul class="playlist mb-0 list-unstyled">
                            <li data-cover="{% static 'assets/images/audiologo.png' %}"><a href="{{i.file.url}}" title="">Bhajan</a></li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div><!-- Player Wrap 2 -->
            <div class="pagination-wrap mt-20 d-flex flex-wrap justify-content-center text-center w-100">
                {% if bhajans.has_other_pages %}
                <ul class="pagination mb-0">
                    {% if bhajans.has_previous %}
                    <li class="page-item prev"><a class="page-link" href="?page={{bhajans.previous_page_number}}" title=""><i class="fas fa-long-arrow-alt-left"></i></a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">Prev</a></li>
                    {% endif %}
                    {% for i in bhajans.paginator.page_range  %}
                    {% if bhajans.number == i %}
                    <li class="page-item active"><a class="page-link" href="#" title="">{{i}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}" title="">{{i}}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if bhajans.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{bhajans.next_page_number}}" title="">Next</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="#" title="">Next</a></li>
                    {% endif %}
                    
                </ul>
                {% endif %}
            </div><!-- Pagination Wrap --><!-- Pagination Wrap -->
        </div>
    </div>
</section>

{% endblock body %}