{% extends 'base.html' %}
{% load static %}
{% block title %}Bhajans{% endblock title %}
{% block body %}
<section>
    <div class="w-100 pt-80 black-layer pb-70 opc65 position-relative">
        <div class="fixed-bg" style="background-image: url({% static 'assets/images/page-title-bg.jpg' %});"></div>
        <div class="container">
            <div class="page-title-wrap text-center w-100">
                <div class="page-title-inner d-inline-block">
                    <h1 class="mb-0">Listen To Bhajans</h1>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}" title="Home">Home</a></li>
                        <li class="breadcrumb-item active">Bhajans</li>
                    </ol>
                </div>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-120 pb-250 position-relative">
        <img class="sec-botm-rgt-mckp img-fluid position-absolute" src="{% static 'assets/images/landmark.png' %}" alt="Sec Bottom Mockup">
        <div class="container">
            <div class="plyr-wrp2 d-inline-block w-100">
                <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url({% static 'assets/images/pattern.jpg' %});">
                    <div class="plyr v4 w-100">
                        <ul class="playlist mb-0 list-unstyled">
                            <li data-cover="{% static 'assets/images/audio-img1.jpg' %}" data-artist="Manav Dharma"><a href="{% static 'assets/audio/jo bhajega hari.mp3' %}" title="">jo bhajega hari</a></li>
                        </ul>
                    </div>
                </div><!-- Player Wrap -->
                <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url({% static 'assets/images/pattern.jpg' %});">
                    <div class="plyr v4 w-100">
                        <ul class="playlist mb-0 list-unstyled">
                            <li data-cover="{% static 'assets/images/audio-img2.jpg' %}"><a href="{% static 'assets/audio/Karata hu gunagan.mp3' %}" title="">Karata Hu Gungan</a></li>
                        </ul>
                    </div>
                </div><!-- Player Wrap -->
                <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url({% static 'assets/images/pattern-bg.jpg' %});">
                    <div class="plyr v4 w-100">
                        <ul class="playlist mb-0 list-unstyled">
                            <li data-cover="{% static 'assets/images/audio-img3.jpg' %}"><a href="{% static 'assets/audio/likhne wale tu.mp3' %}" title="">Likhne Wale Tu</a></li>
                        </ul>
                    </div>
                </div><!-- Player Wrap -->
                <div class="plyr-box w-100 pat-bg white-layer opc85 back-blend-multiply bg-white" style="background-image: url({% static 'assets/images/pattern-bg.jpg' %});">
                    <div class="plyr v4 w-100">
                        <ul class="playlist mb-0 list-unstyled">
                            <li data-cover="{% static 'assets/images/audio-img3.jpg' %}"><a href="{% static 'assets/audio/Mera jiban sara.mp3' %}" title="">Mera Jiban Sara</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- Player Wrap 2 -->
            <div class="pagination-wrap mt-40 d-flex flex-wrap justify-content-center text-center w-100">
                <ul class="pagination mb-0">
                    <li class="page-item prev"><a class="page-link" href="javascript:void(0);" title=""><i class="fas fa-long-arrow-alt-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">1</a></li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);" title="">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">4</a></li>
                    <li class="page-item pg-rang">...........</li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">24</a></li>
                    <li class="page-item next"><a class="page-link" href="javascript:void(0);" title=""><i class="fas fa-long-arrow-alt-right"></i></a></li>
                </ul>
            </div><!-- Pagination Wrap -->
        </div>
    </div>
</section>

{% endblock body %}